<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>ini profil dashboard admin</h1>
    <br>
    <%= user.id %>
    <br>
    <%= user.email %>
    <br>
    <%= user.nama %>
    <br>
    <%= user.no_hp %>

    <br>
    <a href="/admin/dashboard">kembali</a>
    <a href="/admin/edit-profil">edit info</a>
    
</body>
</html>