<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/layout.css" />
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-items">
                    <div class="avatar">
                        <img src="/images/avatar-s-1.png" alt="Avatar" srcset="">
                    </div>
                    <form action="/auth/logout" method="POST"> <!-- Menggunakan elemen form -->
                        <button type="submit" class="btn btn-danger">Logout</button> <!-- Tombol Logout -->
                    </form>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>
