.sticky-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
    color: #ffffff;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Header styling */
.header {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.navbar-items {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Add this line */
}

/* Style for avatar */
.navbar-items .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px; 
}
