<%- include("../layouts/header.ejs" )%>
<%- include("../layouts/sidebarKalab.ejs") %>

<main class="content">
    <div class="header-content">
        <h3>Tambah Data Pengajuan Pembelian</h3>
    </div>
    <div>
        <form action="/kalab/tambah" method="post">
            <div class="form-groupadd">
              <label for="namaAset">Nama Aset</label>
              <input type="text" id="namaAset" name="namaAset" placeholder="Nama Aset">
            </div>
            <div class="form-groupadd">
              <label for="jumlah">Jumlah</label>
              <input type="number" id="jumlah" name="jumlah" placeholder="Jumlah" min="1", step="1">
            </div>
            <div class="form-groupadd">
              <label for="harga">Harga</label>
              <input type="number" id="harga" name="harga" placeholder="Harga" min="1", step="1" required>
            </div>
            <div class="form-groupadd">
                <label for="totalHarga">Total Harga</label>
                <input type="number" id="totalHarga" name="totalHarga" placeholder="Total Harga" min="1", step="1" readonly>
              </div>
            <div class="form-groupadd">
              <label for="tujuan">Tujuan</label>
              <textarea id="tujuan" name="tujuan" placeholder="Tujuan"></textarea>
            </div>
            <div class="form-groupadd">
              <button type="submit" class="button green">Tambah</button>
              <button type="reset" class="button red">Batal</button>
              <button type="submit" class="button blue">Ajukan</button>
            </div>
          </form>
    </div>
</main>
<%- include("../layouts/footer.ejs") %>