
<%- include("../layouts/header.ejs") %>
<%- include("../layouts/sidebarKadep.ejs") %>

<!-- ========== MAIN ========== -->
<main class="content">
    <div class="header-content">
        <h3>Selamat Datang, Kepala Departemen</h3>
        
    </div>
    


</main>
            
<%- include("../layouts/footer.ejs") %>
